@page
@model RIK_prooviülesanne.Pages.Events.CreateModel
@{
}

<br />
<h2>Lisa Üritus!</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form method="POST">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Nimi</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="eventName" value="@Model.eventInfo.ENAME" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Toimumisaeg</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" name="eventTime" placeholder="dd-mm-yy hh:mm:ss" value="@Model.eventInfo.ETIME" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Toimumiskoht</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="eventLocation" value="@Model.eventInfo.ELOCATION" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Lisainfo</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="eventExtraInfo" value="@Model.eventInfo.EEXTRAINFO" />
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Lisa Üritus</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-secondary" href="/" role="button">Tagasi</a>
		</div>
	</div>
</form>